
body {
	width:60%;
	max-width:710px;
	text-align:left;
	margin-left:20%;
}

/*
#header {
	background-color:#ffba5a;
	opacity:0.95;
	position:fixed;
	width:55%;
	max-width:720px;
	padding:30px;
}

#section {
	margin-top: 200px;
}
*/

p {
	font-family: 'Roboto' , sans-serif;
	font-size: 1.1em;
	line-height: 150%;
}

a {
	text-decoration-line: none;
	color:black;
	/* background-color: #fbc99d; */
	background-color: hsl(28, 92%, 80%);
	padding:3px;
}

a:hover {
	background-color: hsl(23, 95%, 70%);
	/* background-color: #ec8f6a; */
	color: white;
	padding: 3px;
}

h1 {
	font-family: Lucida Console, monospace;
	line-height: 150%;
	font-size: 1.5em;
	text-transform:uppercase;
}

ol {
	background-color:white;

}

ol li {
	font-family: Lucida Console, monospace;
	font-size: 1.5em;
	color: black;
	background-color: hsl(165, 50%, 73%);
	padding: 20px;
	
}
