body {
	font-family: Arial, sans-serif;
	background-color:;
	max-width:1000px;
	width:90%;
	margin: auto;
	line-height:1.5;
}

a {
	text-decoration:none;
	color:black;
	background-color: rgba(255, 150, 0, 0.8);
	padding:3px 6px 3px 6px;
	transition-duration: 0.3s;
}

a:hover {
	background-color: rgba(255, 200, 0, 0.5);
}

.mockup {
	max-width: 45%;
	display: inline-block;
	margin-bottom:50px;
	margin-right:20px;
}

.mockup img {
	max-width: 100%;
	margin:10px;
}