
/*styles.css*/
/*also use command+/ to comment out in bulk!*/
/*select text and press shift+" to put text inside quotes!*/

body {
	font-family: "Helvetica", "Arial Bold", sans-serif; /*called a font stack*/
	font-size: 2.5rem; /*em = the width of the letter m.
	relative to the default font size on the page. */

}

.sidebar {
	width:30%;
	height:100%;
	position:fixed;
	float:left;
	margin:0px;
	background-color:rgba(255, 0, 0, 0.5);
}

.main {
	width: 60%;
	float:right;
	margin:1em;
}

h1 {
	padding:1em;
	font-weight:bold;
	text-transform: uppercase;
	transform: rotate(90deg);
	transform-origin:(10%,10%);
	font-size:1 rem;
	color:white;
	/*background-color: rgba(255, 0, 0, 0.3);*/
	/*ff in hex code represents 255!!!!*/
	border-radius: 300px;
	text-align:center;
	text-decoration:underline;
	text-decoration-style:wavy;
	text-decoration-color:rgba(255, 0, 0, 0.5);
	text-shadow:10px 10px rgba(0, 0, 255, 0.5);
	letter-spacing:0.1em;

	/*While em is relative to the font-size of 
	its direct or nearest parent, rem is only 
	relative to the html (root) font-size.*/
}

a {
	text-decoration: none;
	background-color: rgba(0, 255, 0, 0.5);
	color:black;
	transition: 0.3s;
	padding:5px;
}

a:hover {
	background-color:rgba(255, 0, 0, 0.5);

}

.underline {
	/*text-indent:50px;*/
	text-decoration:underline;
	text-decoration-style:wavy;
	text-decoration-color:lightgreen;
}

.letterspacing {
	letter-spacing:1em;
}

.weight {
	font-weight:bolder;
}

.style {
	font-style:italic;
}

.transform {
	text-transform:uppercase;
}

/* you can also use css for printing websites!!! put the
units in inch and cm */